<app-top-nav></app-top-nav>
<app-side-nav></app-side-nav>
<app-item-collection></app-item-collection>

<!--bootstrap test-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            The bellow row text will change colour depending on the lightness of the background. This is achieved through SASS lightness() function.
        </div>
    </div>
    <div class="row">
		<div class="col-md-2 app-bg-grey">
				<p>
					1
				</p>
        </div>
        <div class="col-md-2 app-bg-grey2">
				<p>
					2
				</p>
        </div>
        <div class="col-md-2 app-bg-grey3">
				<p>
					3
				</p>
        </div>
        <div class="col-md-2 app-bg-grey4">
				<p>
					4
				</p>
        </div>
        <div class="col-md-2 app-bg-grey5">
				<p>
					5
				</p>
        </div>
        <div class="col-md-2 app-bg-grey6">
				<p>
					6
				</p>
        </div>
    </div>
    <div class="row">
		<div class="col-md-2 app-bg-yellow">
				<p>
					1
				</p>
        </div>
        <div class="col-md-2 app-bg-yellow2">
				<p>
					2
				</p>
        </div>
        <div class="col-md-2 app-bg-yellow3">
				<p>
					3
				</p>
        </div>
        <div class="col-md-2 app-bg-yellow4">
				<p>
					4
				</p>
        </div>
        <div class="col-md-2 app-bg-yellow5">
				<p>
					5
				</p>
        </div>
        <div class="col-md-2 app-bg-yellow6">
				<p>
					6
				</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 app-bg-green2">
                <p>
                    1
                </p>
        </div>
        <div class="col-md-2 app-bg-green2">
                <p>
                    2
                </p>
        </div>
        <div class="col-md-2 app-bg-green3">
                <p>
                    3
                </p>
        </div>
        <div class="col-md-2 app-bg-green4">
                <p>
                    4
                </p>
        </div>
        <div class="col-md-2 app-bg-green5">
                <p>
                    5
                </p>
        </div>
        <div class="col-md-2 app-bg-green6">
                <p>
                    6
                </p>
        </div>      
    </div>
</div>

<!--ng-bootstrap test-->
<p>
    <ngb-alert [dismissible]="false">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3" ngPreserveWhitespaces>
            <button type="button" class="btn btn-primary">Primary</button> 
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success btn-lg">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-link">Link</button>
        </div>
    </div>
</div>

<div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
      </div>