<app-top-nav></app-top-nav>
<app-side-nav></app-side-nav>
<app-item-collection></app-item-collection>

<!--bootstrap test-->
<div class="container-fluid">
    <div class="row">
		<div class="col-md-6">
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
        </div>
        <div class="col-md-6">
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
		</div>
    </div>
</div>

<!--ng-bootstrap test-->
<p>
    <ngb-alert [dismissible]="false">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
</p>