// Containers
// **********

// main container that includes Side Nav + Content Area
.main-container {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%!important;
    min-height: calc(100vh - 50px);
} 

// Side Nav - Open
// **********
.sidenav-opened {
    max-width: 250px!important;
    min-width: 250px!important;
}

// Side navigation
.sidenav {
    background-color: #fff;
    max-width: 0px;
    min-width: 0px;

    ul {
        padding-left: 0px;
        list-style-type: none;
    
        li {

            a {
                color: #242424;
            }
        }
    }
}

// Side Nav - Docked
// *****************

// use class when docked menu
.side-nav-docked {
    position: fixed;
    display: block;
    list-style-type: none;
    max-width: 60px;
    min-width: 60px;
    white-space: nowrap;
    overflow: hidden;
    background: white;
    z-index: 1;
    height: 100%;
    // -webkit-transition-duration: .15s;
    // transition-duration: .15s;
}

// Side Nav - Hover
// *****************

// Side Nav when hovering on it
.sidenav-hover-open {
    max-width: 240px;
    min-width: 240px;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
    box-shadow: 0 0 2.5em rgba(85,85,85,.5);
    // -webkit-box-shadow: 0 16px 10px 0 rgba(0,0,0,0.14), 0 11px 18px 0 rgba(0,0,0,0.12), 0 13px 5px -1px rgba(0,0,0,0.2);
    // box-shadow: 0 16px 10px 0 rgba(0,0,0,0.14), 0 11px 18px 0 rgba(0,0,0,0.12), 0 13px 5px -1px rgba(0,0,0,0.2);
}

// Side Nav closed after leaving - for animating back
.sidenav-hover-closed {
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
}

// Side Nav - Closed
// *****************

// Side Nav closed
.sidenav-closed {
    max-width: 0;
    min-width: 0;
}

// Content Area
// ************

// Container for content area
.right-col {
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: relative;
    width: 100%;
}

// Content area inside right-col container
.main-content-area {
    background-color: #eeeeee;
    padding: 10px 20px 20px 20px;
}

// Content Area - Docked/Hover
// ***************************

// Container for content area
.right-col-when-docked {
    margin-left: 60px;
}

// Content Area - Closed
.right-col-when-closed {
    margin-left: 0px;
}


// Footer
.main-footer-area {
    background-color: white;
}
// ---------------------------------------------------------------------

// Navigation Links
// *****************

#mySidenav {

    .sidenav-inner {
        margin-top: 8px;
    }

    // Navigation 'li' parent
    // .parent-nav-item {
    //     white-space: nowrap;
    //     overflow: hidden;
    // }

    // Navigation 'a' link
    .nav-link {
        display: flex;
        padding: 0px 10px 0px 18px;
        min-height: 36px;

        // Side Nav links
        .nav-link-icon {
            -webkit-align-items: center;
            align-items: center;
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-right: 14px;
            flex-shrink: 0;
            color: #5f5f5f;

            .nav-link-icon-inner {
                text-align: center;
                width: 30px;

                i {
                    font-size: 17px;
                }
            }
        }
        .nav-link-title {
            display: flex;
            font-size: 14px;
            -webkit-align-items: center;
            align-items: center;
            font-weight: 500;
            // .nav-link-title-inner {

            // }
        }
    }
}




// TODO: use this for future
.transition-class {
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: background-color,box-shadow;
    transition-property: background-color,box-shadow;
    -webkit-transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
    transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
}