<div class="main-container">
 <div id="mySidenav" class="sidenav {{SideNavToggleClass}} {{SideNavHoverToggleClass}}" (mouseenter)="_toggleSidebarHover()" (mouseleave)="_toggleSidebarLeave()">
      <ul class="sidenav-inner">
          <li class="parent-nav-item">
              <a class="nav-link" href="#">
                  <div class="nav-link-icon">
                      <div class="nav-link-icon-inner">
                          <i class="fa fa-home"></i>
                      </div>
                  </div> 
                  <div class="nav-link-title">
                      <div class="nav-link-title-inner">
                          Home
                      </div>
                  </div>
              </a>
          </li>
          <li class="parent-nav-item">
              <a class="nav-link" href="#">
                  <div class="nav-link-icon">
                      <div class="nav-link-icon-inner">
                          <i class="fa fa-institution"></i>
                      </div>
                  </div> 
                  <div class="nav-link-title">
                      <div class="nav-link-title-inner">
                          FFM Regions
                      </div>
                  </div>
              </a>
          </li>
          <li class="parent-nav-item">
              <a class="nav-link" href="#">
                  <div class="nav-link-icon">
                      <div class="nav-link-icon-inner">
                          <i class="fa fa-bolt"></i>
                      </div>
                  </div> 
                  <div class="nav-link-title">
                      <div class="nav-link-title-inner">
                          Events
                      </div>
                  </div>
              </a>
          </li>
          <li class="parent-nav-item">
              <a class="nav-link" href="#">
                  <div class="nav-link-icon">
                      <div class="nav-link-icon-inner">
                          <i class="fa fa-graduation-cap"></i>
                      </div>
                  </div> 
                  <div class="nav-link-title">
                      <div class="nav-link-title-inner">
                          My Emergency Roles
                      </div>
                  </div>
              </a>
          </li>
          <li class="parent-nav-item">
              <a class="nav-link" href="#">
                  <div class="nav-link-icon">
                      <div class="nav-link-icon-inner">
                          <i class="fa fa-map-marker"></i>
                      </div>
                  </div> 
                  <div class="nav-link-title">
                      <div class="nav-link-title-inner">
                          Mapping
                      </div>
                  </div>
              </a>
          </li>
          <li class="parent-nav-item">
              <a class="nav-link" href="#">
                  <div class="nav-link-icon">
                      <div class="nav-link-icon-inner">
                          <i class="fa fa-users"></i>
                      </div>
                  </div> 
                  <div class="nav-link-title">
                      <div class="nav-link-title-inner">
                          People
                      </div>
                  </div>
              </a>
          </li>
          <li class="parent-nav-item">
              <a class="nav-link" href="#">
                  <div class="nav-link-icon">
                      <div class="nav-link-icon-inner">
                          <i class="fa fa-heartbeat"></i>
                      </div>
                  </div> 
                  <div class="nav-link-title">
                      <div class="nav-link-title-inner">
                          Safety & Wellbeing
                      </div>
                  </div>
              </a>
          </li>
          <li class="parent-nav-item">
              <a class="nav-link" href="#">
                  <div class="nav-link-icon">
                      <div class="nav-link-icon-inner">
                          <i class="fa fa-cloud"></i>
                      </div>
                  </div> 
                  <div class="nav-link-title">
                      <div class="nav-link-title-inner">
                          Weather & Predictions
                      </div>
                  </div>
              </a>
          </li>
          <li class="parent-nav-item">
              <a class="nav-link" href="#">
                  <div class="nav-link-icon">
                      <div class="nav-link-icon-inner">
                          <i class="fa fa-info"></i>
                      </div>
                  </div> 
                  <div class="nav-link-title">
                      <div class="nav-link-title-inner">
                          Library
                      </div>
                  </div>
              </a>
          </li>
      </ul>
  </div>

  <div class="right-col {{ContentToggleClass}}">
    <div id="main" class="main-content-area">
      <div class="row mb-3">
        <div class="col-12">
          <button (click)="toggleSidenav()" class="btn btn-outline-primary">Toggle sidebar</button>
        </div>
      </div>
      <div class="row mb-3">
          <div class="col-6">
              <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                  Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                  Custom content goes here Custom content goes here Custom content goes here
              </app-card-collapsible>
          </div>
          <div class="col-6">
              <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                  Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                  Custom content goes here Custom content goes here Custom content goes here
              </app-card-collapsible>
          </div>
      </div>

        <div class="row">
            <div class="col-12">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
            <div class="col-6">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <app-card-collapsible [title]="'Custom Component'" [isCollapsible]="true">
                    Custom content goes here Custom content goes here Custom content goes here Custom content goes here Custom content goes here
                    Custom content goes here Custom content goes here Custom content goes here
                </app-card-collapsible>
            </div>
        </div>
    </div>  
    <footer class="main-footer-area">
        Footer area
    </footer>
  </div>
</div> 
  
