//ffm colour palette
$hero-green: rgb(0, 123, 75);
$yellow: rgb(253, 218, 36);
$dark-green: rgb(0, 87, 63);
$light-green: rgb(0, 177, 64);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

//custom colours
$mine-shaft:    rgb(36, 36, 36);        //slightly lighter black - for top nav bar
$tundora:       rgb(66, 66, 66);        //slightly lighter version of mine-shaft - possible text colour
$gallery:       rgb(238, 238, 238);     //content area background colour
$aqua-haze:     rgb(244, 246, 249);     //side menu background colour
$darken:        rgba(0,0,0,0.15);       //possible child menu items
$blue:          rgb(0, 123, 255);      //bootstrap blue for links

//text colours
$dark-text: $tundora;
$light-text: $white;

//shadows
$container-shadow:  0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
$modal-shadow:      0 2px 10px rgba(0,0,0,.2);
$idle-button-shadows: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
$active-button-shadow: 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);

//variables for ffm primary/secondary colours
$ffm-primary-1:     $hero-green;
$ffm-primary-2:     $yellow;
$ffm-secondary-1:   $dark-green;
$ffm-secondary-2:   $light-green;
$ffm-secondary-3:   $mine-shaft;

//bootstrap overwrites
$primary: $ffm-primary-1;
$secondary: $ffm-secondary-1;
$success: $light-green;
$warning: $ffm-primary-2;
$link-color: $blue;
$dark: $ffm-secondary-3;

//sidebar
$side-nav-bg: $aqua-haze;
$content-area-bg: $gallery;

